@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor-de-fundo: #FF008A ;
    --cor-de-texto: #ffffff;
    --fundo-senha: #1e1bdb;
    --borda: #649856;

}

*{
    font-weight: 400;
}
body{
    color: var(--cor-de-texto);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}
